<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/main.css">
    <title>Задания</title>
</head>
<body>
    <menu class="main-menu">
        Hi!
    </menu>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="head-logo-search">
                    <div class="head-logo">
                        Dashboard
                    </div>
                    <div class="search">
                        <input type="text" name="search">
                    </div>
                </div>
                <div class="personal">

                </div>
            </div>
        </header>  
        <div class="main-content">
            <div class="container">
                <div class="content">
                    <div class="tasks-list">

                    </div>
                    <div class="button-add-task">
                        <button type="button" class="button-add-task-item">Добавить задачу</button>
                    </div>
                    <form action="" class="add-task hidden">
                        <input type="text" placeholder="Название задачи" name="taskName">
                        <br><button type="button" class="cancel-btn">Отмена</button><button type="submit">Добавить задачу</button>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                Футер
            </div>
        </footer>
    </div>
    <script src="/js/tasks.js"></script>
</body>
</html>