
.filter{
    background-color: #eaf1f1;
    margin-bottom: 20px;
    border-radius: 10px;
}

.filter_head {
    font-weight: 700;
    padding: 10px;
}

.filter_list{
    list-style: none;
    padding: 10px 0;
}

.filter_item a {
    text-decoration: none;
    cursor: pointer;
    padding: 5px 15px;
    display: block;
}

.filter_item_current{
    font-weight: 700;
}

.filter_item a:hover {
    background-color: #d0d0d0;
    border-radius: 5px;
}