html{
    height: 100%;
    font-family: Roboto;
}

body{
    background-color: #719191;
    height: 100%;
}

.main-menu{
    max-width: 70px;
    height: 100%;
    position: fixed;
    margin: 0;

}

.wrapper{
    background-color: #fafafa;
    border-radius: 20px;
    margin-left: 60px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    
    .header{

        margin-bottom: 40px;

        .container{
            display: flex;
            justify-content: space-between;

            .head-title-search{
                display: flex;
                align-items: center;
                width: 60%;
                justify-content: space-between;

                .head-title{
                    font-size: 20px;
                    font-weight: 700;
                }
            
                .search{
                    background-color: #eaf1f1;
                    width: 450px;
                    border-radius: 32px;
                    padding: 0 35px;
                    box-sizing: border-box;

                    input[name="search"]{
                        height: 35px;
                        border: none;
                        outline: none;
                        background-color: #eaf1f1;
                        width: 100%;
                    }
                }
            }
        }
    }

    .main-content{
        flex: 1 1 auto;
        background-color: rgba(255,255,255,0.5);

        .container{
            display: grid;
            grid-template-columns: 1fr 3fr;
            
            .left-sidebar{
                margin-right: 20px;

                .category-filter, .priority-filter, .general-filter{
                    background-color: #eaf1f1;
                    margin-bottom: 20px;
                    border-radius: 10px;
                }

                    .category-filter-head, .priority-filter-head{
                        
                        font-weight: 700;
                        
                        padding: 10px;
                    }

                    .category-filter-list, .priority-filter-list, .general-filter-list{
                        list-style: none;
                        padding: 10px 0;

                        .category-filter-item, .priority-filter-item, .general-filter-item{
                            
                            a{
                                text-decoration: none;
                                cursor: pointer;
                                padding: 5px 15px;
                                display: block;

                                &:hover{
                                    background-color: #d0d0d0;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                
            }
        }

        .content{
            max-width: 700px;

            .hidden{
                display: none;
            }

            .tasks-list{

                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }

                .task-item{
                    
                    padding: 10px;
                    border-bottom: 1px solid gray;
                    
                    .task-info{
                        display: flex;
                        justify-content: space-between;
                    }

                    .task-name{
                        margin-bottom: 10px;
                        font-size: 16px;
                    }

                    .task-categ-prior{
                        display: flex;
                        font-size: 14px;

                        .task-category, .task-priority, .task-exp-date{
                            margin-left: 20px;
                            border: 1px solid black;
                            border-radius: 5px;
                            padding: 3px;
                        }
                    }

                    .task-buttons{
                        display: flex;

                        div {
                            margin-left: 25px;
                            cursor: pointer;

                            img{
                                display: block;
                                &:hover{
                                    fill: red;
                                }
                            }
                        }
                    }

                    .thrown{
                        text-decoration: line-through;
                    }
                }
            }
            .button-add-task{
                display: flex;
                justify-content: flex-end;

                .button-add-task-item{
                    padding: 10px 15px;
                    margin-top: 15px;
                    border-radius: 10px;
                    border: none;
                    background-color: #719191;
                    color: #ffffff;
                    font-weight: 700;
                }
            }

            .add-task{
                padding: 10px;
                border: 1px solid black;
                border-radius: 10px;
               

                .task-name-add{
                    width: 100%;
                    outline: none;
                    border: none;
                    margin-bottom: 10px;
                    height: 40px;
                }

                .choose-date{
                    width: 120px;
                    height: 30px;
                    border-radius: 5px;
                    margin-right: 20px;
                    
                }

                .category-list, .priority-list{
                    height: 30px;
                    border-radius: 5px;
                    margin-right: 20px;
                }

                .buttons-form-add-task{
                    margin-top: 10px;

                    .cancel-btn, .send-task{
                        padding: 10px 15px;
                        border-radius: 10px;
                        border: none;
                        color: #ffffff;
                        font-weight: 700;
                    }

                    .cancel-btn{
                        background-color: #ad2e2e;
                    }

                    .send-task{
                        background-color: #719191;
                        margin-left: 10px;
                    }
                }


            }
            
        }
    }
}

.container{
    max-width: 95%;
    margin: 0 auto;
    
}