html {
  height: 100%;
  font-family: Roboto;
}

body {
  background-color: #719191;
  height: 100%;
}

.main-menu {
  max-width: 70px;
  height: 100%;
  position: fixed;
  margin: 0;
}

.wrapper {
  background-color: #fafafa;
  border-radius: 20px;
  margin-left: 60px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}
.wrapper .header {
  margin-bottom: 40px;
}
.wrapper .header .container {
  display: flex;
  justify-content: space-between;
}
.wrapper .header .container .head-title-search {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}
.wrapper .header .container .head-title-search .head-title {
  font-size: 20px;
  font-weight: 700;
}
.wrapper .header .container .head-title-search .search {
  background-color: #eaf1f1;
  width: 450px;
  border-radius: 32px;
  padding: 0 35px;
  box-sizing: border-box;
}
.wrapper .header .container .head-title-search .search input[name=search] {
  height: 35px;
  border: none;
  outline: none;
  background-color: #eaf1f1;
  width: 100%;
}
.wrapper .main-content {
  flex: 1 1 auto;
  background-color: rgba(255, 255, 255, 0.5);
}
.wrapper .main-content .container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.wrapper .main-content .container .left-sidebar {
  margin-right: 20px;
}
.wrapper .main-content .container .left-sidebar .category-filter, .wrapper .main-content .container .left-sidebar .priority-filter, .wrapper .main-content .container .left-sidebar .general-filter {
  background-color: #eaf1f1;
  margin-bottom: 20px;
  border-radius: 10px;
}
.wrapper .main-content .container .left-sidebar .category-filter-head, .wrapper .main-content .container .left-sidebar .priority-filter-head {
  font-weight: 700;
  padding: 10px;
}
.wrapper .main-content .container .left-sidebar .category-filter-list, .wrapper .main-content .container .left-sidebar .priority-filter-list, .wrapper .main-content .container .left-sidebar .general-filter-list {
  list-style: none;
  padding: 10px 0;
}
.wrapper .main-content .container .left-sidebar .category-filter-list .category-filter-item a, .wrapper .main-content .container .left-sidebar .category-filter-list .priority-filter-item a, .wrapper .main-content .container .left-sidebar .category-filter-list .general-filter-item a, .wrapper .main-content .container .left-sidebar .priority-filter-list .category-filter-item a, .wrapper .main-content .container .left-sidebar .priority-filter-list .priority-filter-item a, .wrapper .main-content .container .left-sidebar .priority-filter-list .general-filter-item a, .wrapper .main-content .container .left-sidebar .general-filter-list .category-filter-item a, .wrapper .main-content .container .left-sidebar .general-filter-list .priority-filter-item a, .wrapper .main-content .container .left-sidebar .general-filter-list .general-filter-item a {
  text-decoration: none;
  cursor: pointer;
  padding: 5px 15px;
  display: block;
}
.wrapper .main-content .container .left-sidebar .category-filter-list .category-filter-item a:hover, .wrapper .main-content .container .left-sidebar .category-filter-list .priority-filter-item a:hover, .wrapper .main-content .container .left-sidebar .category-filter-list .general-filter-item a:hover, .wrapper .main-content .container .left-sidebar .priority-filter-list .category-filter-item a:hover, .wrapper .main-content .container .left-sidebar .priority-filter-list .priority-filter-item a:hover, .wrapper .main-content .container .left-sidebar .priority-filter-list .general-filter-item a:hover, .wrapper .main-content .container .left-sidebar .general-filter-list .category-filter-item a:hover, .wrapper .main-content .container .left-sidebar .general-filter-list .priority-filter-item a:hover, .wrapper .main-content .container .left-sidebar .general-filter-list .general-filter-item a:hover {
  background-color: #d0d0d0;
  border-radius: 5px;
}
.wrapper .main-content .content {
  max-width: 700px;
}
.wrapper .main-content .content .hidden {
  display: none;
}
.wrapper .main-content .content .tasks-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wrapper .main-content .content .tasks-list .task-item {
  padding: 10px;
  border-bottom: 1px solid gray;
}
.wrapper .main-content .content .tasks-list .task-item .task-info {
  display: flex;
  justify-content: space-between;
}
.wrapper .main-content .content .tasks-list .task-item .task-name {
  margin-bottom: 10px;
  font-size: 16px;
}
.wrapper .main-content .content .tasks-list .task-item .task-categ-prior {
  display: flex;
  font-size: 14px;
}
.wrapper .main-content .content .tasks-list .task-item .task-categ-prior .task-category, .wrapper .main-content .content .tasks-list .task-item .task-categ-prior .task-priority, .wrapper .main-content .content .tasks-list .task-item .task-categ-prior .task-exp-date {
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
}
.wrapper .main-content .content .tasks-list .task-item .task-buttons {
  display: flex;
}
.wrapper .main-content .content .tasks-list .task-item .task-buttons div {
  margin-left: 25px;
  cursor: pointer;
}
.wrapper .main-content .content .tasks-list .task-item .task-buttons div img {
  display: block;
}
.wrapper .main-content .content .tasks-list .task-item .task-buttons div img:hover {
  fill: red;
}
.wrapper .main-content .content .tasks-list .task-item .thrown {
  text-decoration: line-through;
}
.wrapper .main-content .content .button-add-task {
  display: flex;
  justify-content: flex-end;
}
.wrapper .main-content .content .button-add-task .button-add-task-item {
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  background-color: #719191;
  color: #ffffff;
  font-weight: 700;
}
.wrapper .main-content .content .add-task {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.wrapper .main-content .content .add-task .task-name-add {
  width: 100%;
  outline: none;
  border: none;
  margin-bottom: 10px;
  height: 40px;
}
.wrapper .main-content .content .add-task .choose-date {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  margin-right: 20px;
}
.wrapper .main-content .content .add-task .category-list, .wrapper .main-content .content .add-task .priority-list {
  height: 30px;
  border-radius: 5px;
  margin-right: 20px;
}
.wrapper .main-content .content .add-task .buttons-form-add-task {
  margin-top: 10px;
}
.wrapper .main-content .content .add-task .buttons-form-add-task .cancel-btn, .wrapper .main-content .content .add-task .buttons-form-add-task .send-task {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-weight: 700;
}
.wrapper .main-content .content .add-task .buttons-form-add-task .cancel-btn {
  background-color: #ad2e2e;
}
.wrapper .main-content .content .add-task .buttons-form-add-task .send-task {
  background-color: #719191;
  margin-left: 10px;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */